{% extends 'blog/base.html' %}


{% block title %} Blog Posts {% endblock %}

{% block body %}

<div class="container mt-4">

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8 blog-main">
                <h3 class="pb-4 mb-4 font-italic border-bottom">
                    From the Vkgakxy



                </h3>
                {% for post,range in posts %}
                <!--posts = [[<QuerySet [<BlogPost: country>, <BlogPost: programming>]>, range(1, 3)]] -->
                <!-- {{ post }} = <QuerySet [<BlogPost: country>, <BlogPost: programming>]> -->

                {% for i in post %}

                <div class="blog-post">
                    <h1>{{ i.title }} <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/"
                            data-width="" data-layout="standard" data-action="like" data-size="large" data-share="true">
                        </div>
                    </h1>
                    <h2 class="blog-post-title">{{ i.head0 }}</h2>
                    <p class="blog-post-meta">{{ i.cont0 }}</p>
                    <img class="blog-post-meta" src='/media/{{ i.thumbnail }}' style="width: 100px; height: 100px;">
                    </p>
                    <!-- src = /media/blog/images/IMG_20201027_175828.jpg -->

                    <h2 class="blog-post-title">{{ i.head1 }}</h2>
                    <p class="blog-post-meta">{{ i.cont1 }}</p>


                    <h2 class="blog-post-title">{{ i.head2 }}</h2>
                    <p class="blog-post-meta">{{ i.cont2 }}</p>

                </div>



                {% endfor %}
                {% endfor %}

            </div>

                <aside class="col-md-4 blog-sidebar">
                    <div class="p-3 mb-3 bg-light rounded">
                        <h4 class="font-italic">About</h4>
                        <p class="mb-0">Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur
                            purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
                    </div>

                    <div class="p-3">
                        <h4 class="font-italic">Archives</h4>
                        <ol class="list-unstyled mb-0">
                            <li><a href="#">March 2014</a></li>
                            <li><a href="#">February 2014</a></li>
                            <li><a href="#">January 2014</a></li>
                            <li><a href="#">December 2013</a></li>
                            <li><a href="#">November 2013</a></li>
                            <li><a href="#">October 2013</a></li>
                            <li><a href="#">September 2013</a></li>
                            <li><a href="#">August 2013</a></li>
                            <li><a href="#">July 2013</a></li>
                            <li><a href="#">June 2013</a></li>
                            <li><a href="#">May 2013</a></li>
                            <li><a href="#">April 2013</a></li>
                        </ol>
                    </div>

                    <div class="p-3">
                        <h4 class="font-italic">Elsewhere</h4>
                        <ol class="list-unstyled">
                            <li><a href="#">GitHub</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Facebook</a></li>
                        </ol>
                    </div>


                </aside>


                
                
            </div>
            <div class="fb-comments" data-href="http://127.0.0.1:8000/" data-numposts="3" data-width=""></div>
    </main>

</div>




{% endblock %}