{% extends 'shop/base.html' %}


{% block title %} checkout {% endblock %}

{% block body %}


<div class="container" style="top: 60px; position: relative;">

       <div id="alertSuccess">
            <!-- success mess will display here -->
       </div>


    <h1 style="text-align: center;">------------CheckOut--------</h1>
    <div class="col my-4">
        <h2> Step 1 - Checkout - Review Your Cart Items </h2>

        <ul class="list-group" id="checkout-item">
          <!-- items of cart will show here -->
        </ul>
        
  <!-- breadcum navbar -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-2">
      <li class="breadcrumb-item" id="price">Total price will add</li>
    </ol>
  </nav>

    </div>

    <div class="col my-4">

        <h2> Step 2 - Enter Address And Other Details : </h2>
        <form action="/checkout/" method="post">
            {% csrf_token %}

            <input type="hidden" name="order_list" id="order_list">
            <input type="hidden" name="amount" id="amount">

            <div class="form-row">

                <div class="form-group col-md-6">
                    <label for="inputName">Name</label>
                    <input type="text" class="form-control" id="inputName" name="name">
                </div>

                <div class="form-group col-md-6">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" name="email">
                </div>

            </div>

            <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Phone</label>
                <input type="tel" class="form-control" id="inputEmail4" name="phone">
            </div>
            </div>

            <div class="form-group">
                <label for="inputAddress">Address</label>
                <input type="text" class="form-control address" id="inputAddress" placeholder="1234 Main St" name="add1">
            </div>

           

            <div class="form-row">

                <div class="form-group col-md-6">
                    <label for="inputCity">City</label>
                    <input type="text" class="form-control address" id="inputCity" name="city">
                </div>

                <div class="form-group col-md-4">
                    <label for="inputState">State</label>
                    <select id="inputState" class="form-control address" name="state">
                        <option selected>Madhya Pradesh</option>
                        <option>Rajasthan</option>
                        <option>U.K</option>
                        <option>J.K</option>
                        <option>U.P</option>
                    </select>
                </div>

                <div class="form-group col-md-2">
                    <label for="inputZip">Zip</label>
                    <input type="text" class="form-control address" id="inputZip" name="zip">
                </div>

            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
</div>

{% endblock %}


    {% block js %}
<script>
    if(localStorage.getItem('cart') == null){
        var cart = {}
    }
    else{
        cart = JSON.parse(localStorage.getItem('cart'))

    }

    if($.isEmptyObject(cart)){
        document.getElementById('checkout-item').innerHTML ='<p>Your cart is empty.</p> <p>PLs Add some item.</p>'
    }

    else{
    var sum = 0;
    var totalPrice = 0 ;

    for(item in cart){
        sum += cart[item][0]

        qty = cart[item][0]
        name = cart[item][1]
        itemPrice = cart[item][2]
        totalPrice +=  qty * itemPrice


        document.getElementById('checkout-item').innerHTML += `<li class="list-group-item d-flex justify-content-between align-items-center">
                ${name}
                <span class="badge badge-primary badge-pill">${qty}</span>
                </li>`
    document.getElementById('price').innerHTML = `<h6>Your Total Price is <b>${totalPrice} Rs.</b>`
    }}
    
    document.getElementById('order_list').value = JSON.stringify(cart)
    document.getElementById('amount').value=totalPrice

  

    {% if order_comp %}

    localStorage.clear()
    cart = {}
  

    function home(){
        location.href = '/'
    }

    message =  `
    <div class="alert alert-success alert-dismissible fade show" role="alert" id="alertSuccess">
    <strong>Success !!</strong>Your Order will be deliverd to <b>{{address}}</b> . <b>Order Id  is {{ order_id }} .. Use This To Track your Order. </b> <br>Thanks for purchasing <b>{{name}}</b> 
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick = 'home()' >
      <span aria-hidden="true">Click To return Home &times;</span>
    </button>
  </div>`

  $('#alertSuccess').append(message)

    {% endif %}
</script>
{% endblock %}

    