{% extends 'shop/base.html' %}
{% load static %}

{% block title %} MyStore.Com {% endblock %}

{% block css %}
<link rel="stylesheet" href="{%  static 'shop/home.css' %}">   
{% endblock %}


{% block body %}

<div class="carousel-container">

    {% for category,data in products_by_categories.items %}

    <h3 class="my-4">Boht Hard Sale On <strong>{{ category }}</strong> -- Purchase Quickly</h3>
    <div class="row">

        <div id="demo{{forloop.counter}}" class="col carousel slide my-3" data-ride='carousel'>

            <ul class="carousel-indicators my-n4">
                <li class="active" data-target="#demo{{forloop.counter}}" data-slide-to="0"></li>

                {% for i in data.slide_range %}
                <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{ i }}">{{ i }}</li>
                {% endfor %}

            </ul>

            <!-- slideshow starts form here -->

            <div class="carousel-inner">

                <div class="carousel-item active">

                    {% for product in data.products %}
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <div class="card align-items-center">
                            <img src="{{ product.image.url }}" class="card-img-top fluid" alt="{{ product.image.url }}">
                            <div class="card-body">
                                <h5 class="card-title" id="namepr{{ product.id }}"> {{ product }} </h5>
                                <h5 class="card-title" id="namepr{{ product.id }}"> {{ product.sub_category.name }} </h5>
                                <p class="card-text"> {{ product.description | slice:'1:100'}}...,{{ forloop.counter }} </p>
                                <h6 class="mb-2">Price :<b><span id="pricepr{{ product.id }}">{{ product.price }} </span></b>
                                <h6 class="mb-2">Brand :<b><span id="brand">{{ product.brand }} </span></b>
                                <h6 class="mb-2">Colr :<b><span id="pricepr{{ product.id }}">{{ product.color }} </span></b>
                                <h6 class="mb-2">Size :<b><span id="pricepr{{ product.id }}">{{ product.size }} </span></b>
                                </h6>

                                <span id="divpr{{ product.id }}" class="divpr">
                                    <button class="btn btn-success cart" id="pr{{ product.id }}">Add To Cart</button>
                                </span>
                            </div>
                        </div>
                    </div> 

                    {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
                </div>
                <div class="carousel-item">
                    {% endif %}

                    {% endfor %}
                </div>
            </div>

            <!-- next and prev slide icons -->
        </div>
        <a class="carousel-control-prev" href="#demo{{ forloop.counter }}" data-slide="prev" id="prev">
            <span class="carousel-control-prev-icon"> < </span>
        </a>

        <a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next" id="next">
            <span class="carousel-control-next-icon"> > </span>
        </a>
    </div>


    {% endfor %}

    {% endblock %}




    {% block js %}

<script src="{% static 'shop/home.js' %}"></script>
    

    {% endblock %}